@page "/admin/categories"
@model Interesse.App.Pages.Admin.PageCategories.IndexModel

<div class="row">
    <div class="col-xl-8 offset-xl-2">
        <h2 class="section-title">
            Разделы
        </h2>
        <div class="regular_card">
            <div class="regular_card-actions">
                <a asp-page="./Edit" asp-route-id="0" class="btn btn-primary">
                    Добавить
                </a>
                <a asp-page="../Index" class="btn btn-secondary">
                    Назад
                </a>
            </div>
        </div>
        <br />
        @if (!Model.PageCategories.Any())
        {
            <div class="regular_card">
                <p class="regular_card-message">
                    Разделов ещё нет
                </p>
            </div>
        }
        else
        {
            <div class="row">
                @{
                    var firstCategoryId = Model.PageCategories.First()?.Id;
                    var lastCategoryId = Model.PageCategories.Last()?.Id;
                }
                @foreach (var category in Model.PageCategories)
                {
                    <div class="col-md-4 col-sm-6">
                        <div class="regular_card admin_tile">
                            <div class="admin_tile-actions">
                                <form method="post" class="form-inline">
                                    <button type="submit" asp-route-id="@category.Id" asp-page-handler="moveUp" disabled="@(category.Id == firstCategoryId)" class="btn btn-secondary">
                                        <i class="fas fa-chevron-left"></i>
                                    </button>
                                    <button type="submit" asp-route-id="@category.Id" asp-page-handler="moveDown" disabled="@(category.Id == lastCategoryId)" class="btn btn-secondary">
                                        <i class="fas fa-chevron-right"></i>
                                    </button>
                                </form>
                                <form method="post" class="form-inline">
                                    <a asp-page="./Edit" asp-route-id="@category.Id" class="btn btn-primary">
                                        <i class="fas fa-pen"></i>
                                    </a>
                                    <button type="submit" onclick="return confirm('Вы уверены?');" asp-page-handler="delete"
                                            asp-route-id="@category.Id" disabled="@category.Pages.Any()" class="btn btn-secondary">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </form>
                            </div>
                            <a asp-page="./Pages" asp-route-categoryId="@category.Id">
                                <div class="admin_tile-title">
                                    @category.Title
                                </div>
                            </a>
                        </div>
                    </div>
                }
            </div>
            @*<div class="table-responsive">
                    <table class="table table-bordered">
                        <tbody>
                            @{
                                var firstCategoryId = Model.PageCategories.First()?.Id;
                                var lastCategoryId = Model.PageCategories.Last()?.Id;
                            }
                            @foreach (var category in Model.PageCategories)
                            {
                                <tr>
                                    <td scope="row" class="grey">@category.CreatedDate.ToString("dd.MM.yyyy")</td>
                                    <td>@category.Title</td>
                                    <td>@category.Description</td>
                                    <td class="table-actions">
                                        <form method="post" class="form-inline">
                                            <a asp-page="./Pages" asp-route-categoryId="@category.Id" class="btn btn-secondary">
                                                Страницы
                                            </a>
                                            <button type="submit" asp-route-id="@category.Id" asp-page-handler="moveUp" disabled="@(category.Id == firstCategoryId)" class="btn btn-secondary">
                                                <i class="fas fa-chevron-up"></i>
                                            </button>
                                            <button type="submit" asp-route-id="@category.Id" asp-page-handler="moveDown" disabled="@(category.Id == lastCategoryId)" class="btn btn-secondary">
                                                <i class="fas fa-chevron-down"></i>
                                            </button>
                                        </form>
                                        <form method="post" class="form-inline">
                                            <a asp-page="./Edit" asp-route-id="@category.Id" class="btn btn-primary">
                                                <i class="fas fa-pen"></i>
                                            </a>
                                            <button type="submit" onclick="return confirm('Вы уверены?');" asp-page-handler="delete"
                                                    asp-route-id="@category.Id" disabled="@category.Pages.Any()" class="btn btn-secondary">
                                                <i class="fas fa-trash"></i>
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>*@
        }
    </div>
</div>
